body{
    color: #707070;
    background: #fff;
    -webkit-text-size-adjust: none;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 300;
    font-size:1em;
    .region-header{
        background: #f7a800;
    }
    a,a.nav-item.nav-link{
        color: #707070;
        font-weight: 500;
        text-decoration: none;
    }
    a:hover,
    a.nav-item.nav-link:hover {
        color: #f7a800;
        text-decoration: none;
    }
    #block-etbd-account-menu{
        
        a{
            color: #ffffff;
            font-weight: 500;
            text-decoration: none;
        }
        a:hover{
            color: #322e26;
            text-decoration: none;
        }       
    }

    .myaccount {
        display: inline-block;
        vertical-align: bottom;
        text-align: right;
        ul.menu{
            margin-right: 0.5em;
            padding: 0;
            list-style: none outside;
            text-align: left;
            shape-outside: margin-box;
            margin-bottom: 0px;
            margin-top: 7px;
            li{
                display: inline-block;
                padding-left: 15px;
            }
            .menu-item {
                margin: 0;
                padding: 0.5em;
            }
        }
    }
    .views-field-field-cat-background{
        img{
            opacity: 0.6;
            width: 100%;
            margin-bottom: 20px;
        }
        img:hover{
            opacity: 1.0;
        }

        h4{
            position: absolute;
            padding: 10px;
            z-index: 1;
            a{
                color: #fffdfd;
                font-size: 4.3em;
                font-weight: 700;
                line-height: .85em;
                margin: 0 0 .5em;
            }
            @include media-breakpoint-down(md) {
                a{
                    font-size: 2.0em;
                }
            }
        }
    }
    .view-id-category_block{
        .views-field-name{
            position: absolute;
            padding: 10px;
            z-index: 1; 
        }
        
        a{
            color: #fffdfd;
            font-size: 3.3em;
            font-weight: 700;
            line-height: .85em;
            margin: 0 0 .5em;
            overflow: hidden;
        }
        @include media-breakpoint-down(md) {
            a{
                font-size: 1.0em;
            }
        }
    }
    .field--name-field-category,
    .field--name-field-actors{
        .field__item{
            display: inline-block;
            padding-left: 0px;
            padding-right: 15px;
        }
    }

    #block-exposedformproduct-searchpage-1-4{
        background-image: url(/themes/custom/etbd/etbd/img/search_bg.jpg);
        padding: 60px;
        h2{
            color:#ffffff;
        }
        form{
            margin:0 auto;
        }

    }

    #block-views-block-category-block-block-1-2{
        ul{
            list-style-type: none;
            li{
                margin: 0 0 0.25em 0;
            }
        }
    }


}

