{% include "@evockan/header.html.twig" %}
 {% set field_breadcrumb_image = field_gallery_breadcrumb_image %}
{% include "@evockan/page/page-title.html.twig" %}


{% if gallery_hover == 'hover_style1' %}
	{% set class_gallery = ' gallery-style-1' %}
{% elseif gallery_hover == 'hover_style2' %}
	{% set class_gallery = ' gallery-style-2' %}
{% elseif gallery_hover == 'hover_style3' %}
	{% set class_gallery =  ' gallery-style-3' %}
{% else %}
	{% set class_gallery = ' gallery-style-4' %}
{% endif %}

<div class="section-block">	

	<div class="container">
		<div class="grid-gallery-3col clearfix {{ class_gallery }}">
			{{ page.content }}
		</div>
	</div>

</div>
{{ page.section }}
        

{% include "@evockan/footer.html.twig" %}

        