{% include "@evockan/header.html.twig" %}
{% include "@evockan/page/page-title.html.twig" %}

{% set field_padding_on = node.field_padding_on.value %}
  <div class="{% if field_padding_on %}section-block{% endif %}">
      <div class="container ">
          {{ page.content }}
      </div>
  </div>
  {{ page.section }}

{% include "@evockan/footer.html.twig" %}

        