{% include "@evockan/header.html.twig" %}

{% set field_breadcrumb_image = field_shop_breadcrumb_image %}

{% include "@evockan/page/page-title.html.twig" %}

<div class="section-block">
	<div class="container">
	
		{% if shop_layout == 'classic_2_columns' or  shop_layout == 'simple_2_columns' or shop_layout == 'styled_2_columns' %}
		<div class="row">
			<div class="col-md-10 col-sm-12 col-12 offset-md-1">
				
    			{{ page.content }}
    		
    		</div>
    	</div>
    	{% else %}
    		{{ page.content }}
    	{% endif %}
    	
    </div>
</div>

{{ page.section }}

{% include "@evockan/footer.html.twig" %}

        