{% include "@evockan/header.html.twig" %}
 {% set field_breadcrumb_image = field_gallery_breadcrumb_image %}
{% include "@evockan/page/page-title.html.twig" %}

{% if gallery_layout == 'justified' %}
	{% set class_gallery = 'justified_gallery' %}
{% elseif gallery_layout == 'grid_3_columns' %}
	{% set class_gallery = 'grid-gallery-3col clearfix' %}
{% elseif gallery_layout == 'grid_4_columns' %}
	{% set class_gallery = 'grid-gallery-4col clearfix' %}
{% elseif gallery_layout == 'grid_5_columns' %}
	{% set class_gallery = 'grid-gallery-5col clearfix' %}
{% elseif gallery_layout == 'masonry_2_columns' %}
	{% set class_gallery = 'masonry-2col' %}
{% elseif gallery_layout == 'masonry_3_columns' %}
	{% set class_gallery = 'masonry-3col' %}
{% elseif gallery_layout == 'masonry_4_columns' %}
	{% set class_gallery = 'masonry-4col' %}
{% elseif gallery_layout == 'masonry_5_columns' %}
	{% set class_gallery = 'masonry-5col' %}
{% else %}
	{% set class_gallery = 'grid-gallery-2col clearfix' %}
{% endif %}

{% if gallery_hover == 'hover_style1' %}
	{% set class_gallery = class_gallery ~ ' gallery-style-1' %}
{% elseif gallery_hover == 'hover_style2' %}
	{% set class_gallery = class_gallery ~ ' gallery-style-2' %}
{% elseif gallery_hover == 'hover_style3' %}
	{% set class_gallery = class_gallery ~ ' gallery-style-3' %}
{% else %}
	{% set class_gallery = class_gallery ~ ' gallery-style-4' %}
{% endif %}

<div class="section-block">	
	{{ page.content }}
</div>
{{ page.section }}
        

{% include "@evockan/footer.html.twig" %}

        