{% include "@evockan/header.html.twig" %}

{% set field_breadcrumb_image = field_por_breadcrumb_image %}

{% include "@evockan/page/page-title.html.twig" %}

<div class="section-block">	
	{% if portfolio_layout == 'masonry' or portfolio_columns == 'columns_4' %}
		<div class="container-fluid">
			{{ page.content }}
		</div>
	{% elseif portfolio_columns == 'columns_2' %}
		<div class="row">
			<div class="col-md-10 col-sm-12 col-12 offset-md-1">
				<div class="container">
					{{ page.content }}
				</div>
			</div>
		</div>
	{% else %}
		<div class="container">
			{{ page.content }}
		</div>
	{% endif %}
</div>
{{ page.section }}
        

{% include "@evockan/footer.html.twig" %}

        