{% if breadcrumb %}
<ul class="breadcrumbs">
	{% for item in breadcrumb %}
		{% if item.url %}
		<li class="home">
			<a href="{{ item.url }}">{{ item.text }}</a>
		</li>
		{% else %}
		<li class="category3 last" >
			<span>{{ item.text }}</span>
		</li>
		{% endif %}
	{% endfor %}
</ul>
{% endif %}
