{% include theme_path ~ "/templates/header.html.twig" %}
<div id="no1_breadcrumbs" class="wrap">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="no1_titlepage"></div>
				<div id="no1_pathway" class="clearfix">
					<div class="pathway-inner">
						<span class="icon-pointer "></span>
						{{ page.breadcrumb }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% if page.content %}
	{{ page.content }}
{% endif %}
{% include theme_path ~ "/templates/footer.html.twig" %}