{% include theme_path ~ "/templates/header.html.twig" %}
{% if page.breadcrumb %}
	<div id="no1_breadcrumbs" class="wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div id="no1_titlepage"></div>
					<div id="no1_pathway" class="clearfix">
						<div class="pathway-inner">
							<span class="icon-pointer "></span>
							{{ page.breadcrumb }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}
<div id="no1_content" class="wrap">
	{% if page.slider %}
		{{ page.slider }}
	{% endif %}
	<div class="container about-content">
		{% if page.content %}
			{{ page.content }}
		{% endif %}
		{% if page.section %}
			{{ page.section }}
		{% endif %}
	</div>
</div>
{% include theme_path ~ "/templates/footer.html.twig" %}