<div class="container">
    <div id="no1_main" class="col-md-12 col-main">
        <div id="no1_mainmidle">
            <div class="category-products">
                
                <div class="no1-products-container clearfix">
                    <div class="products-grid text-align-left row style_grid">
                        {{ rows }}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>