<div class="container">
    <div class="box-lastest-product col-lg-12">
        {% if header %}
            {{ header }}
        {% endif %}
        <div class="lastest-product-inner">
            <div class="slider slider-for">
                {{ rows }}
            </div>
            <div class="slider slider-nav">
                {% if footer %}
                    {{ footer }}
                {% endif %}
            </div>
        </div>
    </div>
</div>