<div class="col-md-6 col-sm-12">
    {% if header %}
    {{ header }}
    {% endif %}
    <div id="products_bestseller" class="products-small owl-carousel owl-theme products-grid" style="display: inline-block">
        {{ rows }}
        
    </div>
</div>