{% if header %}
    {{ header }}
{% endif %}
<div class="container box-latest-blog">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 blog-big">
        {{ rows }}
    </div>
    {% if footer %}
        {{ footer }}
    {% endif %}
</div>