<div class="container">
	{% if header %}
		{{ header }}
	{% endif %}
	<div class="feauture_inner owl-carousel" id="feauture_product_inner">
		<div class="product_featured_item">
			{{ rows }}
		</div>
		{{ attachment_after  }}
	</div>
</div>