{% if header %}
    {{ header }}
{% endif %}
<div class="block-content">
    <div class="list-blog">
        <div class="item-post clearfix">
            {{ rows }}   
        </div>
    </div>
</div>