.toolbar-oriented .toolbar-bar {
    z-index: 100000;
}
.md-slide-item{
  display: none;
}

input[type="tel"],textarea,select,input[type="text"],input[type="number"],input[type="search"],input[type="password"],input[type="email"]{
        font-weight: 500;
    font-size: 14px;
    color: #222;
    display: block;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #eee;
    padding: 13px 15px;
    background: #fff;
    width: 100%;
    max-width: 100%;
    transition: .3s;
}
input[type="tel"]:hover,textarea:hover,select:hover,input[type="text"]:hover,input[type="number"]:hover,input[type="search"]:hover,input[type="password"]:hover,input[type="email"]:hover{
  border-color: #ccc;
}
textarea{
    height: auto;
}
.user-pass input,.user-register-form input,.user-login-form input,.user-register-form select{
  width: auto;
}

.nav-search  form {
  width: 100%;
  height: 100%;
  padding: 0 auto;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
  z-index: 99;
}
.megamenu-list > ul > li > a {
  width: 100%;
  padding: 10px 15px;
  display: inline-block;
  color: #70798b;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.megamenu-list > ul > li > a:hover {
  color: #ffffff;
  /*background-color: #2387ea;*/
}

.megamenu-list > ul > li.megamenu-list-title > a {
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.8;
  color: #222;
}

.megamenu-list > ul > li.megamenu-list-title > a:hover {
  opacity: 1;
  background-color: transparent;
}
.megamenu .megamenu-lists .megamenu-list > a{
	width: 100%;
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0.8;
    color: #222;
}
.social-icons ul{
  float: right;
}
.nav-search .evockan-search{
  position: static;
}
.nav-search .evockan-search form input[type="submit"],.nav-search .evockan-search form button{
  display: none;
}
.clear-social-network{
  clear: both;
}
.shop-classic-button input[type='submit']{
  padding: 0;
  background: transparent;
  border: transparent;
  margin: 9px 0px 0px 0px;
}
.shop-classic-button{
  margin: 0;
}
.shop-classic-3-overlay input[type='submit']{
  display: inline-block;
  padding: 16px 20px;
  background: #fff;
  margin-bottom: 5px;
  /* -webkit-transition-duration: .4s; */
  /* transition-duration: .4s; */
  color: #222;
  border-radius: 0;
  font-weight: normal;
  border: navajowhite;
  font-size: 20px;
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
}
.shop-classic-2-text-cart input[type='submit']{
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 14px;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    border: none;
}
.shop-tabs .mt-70 {
    margin-top: 70px;
}
.single-product .quantity  form{
  display: block;
}
.single-product .quantity  form > div{
  display: inline-block;
}
.single-product .quantity  form label{
  display: none;
}
.single-product .quantity .form-item, .single-product .quantity .form-actions{
  margin: 0;
}
.single-product .quantity  form input[type="submit"]{
  border-radius: 0;
  border: none;
  padding: 12px 25px;
  width: auto;
  color: #fff;
  height: 62px;
  margin-left: 12px;
}
.quantity input[type="number"]{
  height: 62px;
  padding: 10px;
  margin-right: 12px;
}
.product-tab-body table{
  width: 100%;
}
.product-tab-body table tr{
  font-size: 15px;
  color: #111;
  border-bottom: 1px dashed #ddd;
  line-height: 1.9;
  font-weight: 500;
  padding: 15px 5px;
}
.product-tab-body table tr td{
  padding: 15px 5px;
}
.product-tab-body table tr td:first-child:before{
  content: "â—";
  display: inline-block;
  color: #ccc;
  font-size: 14px;
  margin-right: 10px;
  line-height: 1;
}

/*table*/
table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-color: #ebebeb; 
    margin-bottom: 0; 
    color: #212224;
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    margin-bottom: 0;
    height: 35px;
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
}
table > thead > tr > th {
    background: none repeat scroll 0 0 #f4f4f4;
    border-bottom-width: 1px;
    border-color: #4b4a4a;
    vertical-align: middle;
    color: #000;
    font-size: 13px;
    font-family: HelveticaNeue, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    height: 46px;
    line-height: 46px;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
table a{
    color: #212224;
    line-height: 23px;
}
table td{
    text-align: center;
}
table a:hover{
    color: #f5af24;
}
.cart.cart-form form input.delete-order-item{
    border: none;
    background: transparent;
    color: #222;
    text-decoration: underline;
    cursor: pointer;
}
.cart.cart-form form .form-actions input[type='submit']:first-child{
  color: #fff;
  border-color: #222;
  background: #222;
}
.cart.cart-form form input[type="number"]{
    color: #999;
    font-size: 14px;
    line-height: inherit;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 5px 8px;
    transition: 0.2s linear;
    max-width: 60px;
    box-shadow: none;
    display: inline-block;
}
form.commerce-order-item-add-to-cart-form .field--name-quantity{
  display: none;
}
.single-product .quantity form.commerce-order-item-add-to-cart-form .field--name-quantity{
  display: block;
}

.product-tab-body table tr td{
  text-align: left;
}
.bg-tra a:hover{
  background-color: transparent;
}
.center-holder{
  width: 100%;
}
.timeline-right-all .timeline-left{
  left: 50%;
}
.timeline-right-all .timeline-left::before{
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}
.timeline-right-all .timeline-left .timeline-content{
  text-align: left;
}
.timeline-right-all .timeline-left::after {
    left: -11px;
}
.megamenu ul.megamenu-lists >li>a>span{
  display: none;
}
ul.js-pager__items li{
  display: inline-block;
}
.pagination {
  width: 100%;
}
.pagination ul{
  margin: 0 auto;
}
input[type="checkbox"]{
  width: auto;
  display: inline-block;
}
.evockan-sidebar-search form{
  display: flex;
}
.evockan-sidebar-search form >.form-item{
  width: 100%;
}
.evockan-sidebar-search form .form-item,.evockan-sidebar-search form .form-actions{
    margin: 0;
}
.evockan-sidebar-search form input{
  margin: 0;
}
.evockan-sidebar-search form input[type="search"]{
  padding: 5px 12px;
}
.search-page input[type=search]{
  width: auto;
  max-width: 100%;
}
.search-results .search-result a{
  font-weight: 400;
  line-height: 1.5;
}
.search-results{
  padding: 0
}
.product-categories .blog-grid-2-button a{
  color: #999;
}