{#
/**
 * @file
 * Default theme implementation of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 *
 * @ingroup themeable
 */
#}
<div style="padding-left: 100px;padding-right: 100px;padding-top: 50px;padding-bottom: 50px;background-image: url(http://www.everythingbutdiamonds.com/sites/default/files/audience.jpg);" >
    <h2 style="color:#fff">Search for your favorite movies</h2>
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}
{{ form }}
</div>