/* ===================================================================
CSS information
file name  : home1.css
author     : Le Duc Anh
=================================================================== */
/* -----------------------------------------------------------
  #banner-home
----------------------------------------------------------- */
.product_featured_item .product_featured_large h4 {
  font-size: 24px;
  font-family: Raleway;
}
