.ico-label span {
  position: absolute;
  top: 7px;
  height: 15px;
  width: 60px;
  color: #fff;
  z-index: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 15px;
}
/*-------product list---------------*/
.products-grid1 #no1_header,
.products-list1 #no1_header,
.blog-pagev1 #no1_header {
  margin-bottom: 7px;
}
